<html>
    <head>
        <!--issue2 what can be the diffrence here if i put locals.title-->
        <title>
            <%= locals.title%>
        </title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <!--issue 3 not working on this link both the files are not linked when i try this link ../assets/css/home.css--
        but working absolutely fine on this link /css/home.css-->
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    </head>
    <body>

        <!--main container containing the todo app-->

       <div id="Main-container-div">
           <!--main heading-->
           <h1 id="Main-heading">TODO APP</h1>

           <!--main form is started from here-->
           <form action="/addtask" method="POST">

               <!--<label for="description">DESCRIPTION</label>
               <input  type="text" name="description" placeholder="what do you need to do" id="description" required>-->
               
               <!--now there are three div containg three features of the forms description work and day -->

               <div id="activity">
                   <p class="description">DESCRIPTION</p>
                   <!--issue 5 how to make it more flexible-->
                   <textarea class="textareaclass-activity" name="description"  placeholder="What to do you need to do" required></textarea>
               </div>

               <div id="date-and-work">
                   <!--div containing the list-->
                   <div id="work">
                       <p>Choose a catageory</p>
                        <select name="category" id="">
                            <option>Personal</option>
                            <option>School</option>
                             <option>Work</option>
                             <option>Cleaning</option>
                             <option>Other</option>
                        </select>
                    </div>

                    <!--div containing the day-->
                    <div id="date">
                       <p>Dual Date</p>
                       <!-- <input type="date" name="date"> -->
                       <input type="text" name="date" id="datepicker">
                    </div>
               </div>

               <div class="add-del-button">
                   <button type="submit" class="add-button"><spam class="add-del-spam"><i class="fas fa-plus"></i></spam><spam class="add-del-spam" >ADD TASK</spam></button>
                   <button type="submit" class="del-button"  form="delete-form" ><spam class="add-del-spam"><i class="fas fa-trash-alt"></i></spam><spam class="add-del-spam">DELETE TASKS</spam></button>
               </div>
            
           </form>
           <form action="/delete-contact" method="POST" id="delete-form">
              
            
           </form>

           <!--My tasks -->


           <ul id="list-for-tasks">
               <%for(let i of task){%>
                
                 <li>
                    <div id="container-of-list">
                       <div class="checkboxdiv">
                           <input type="checkbox" value="<%= i._id %>" form="delete-form"  name="deleteIds" >
                       </div>

                       <div class="descriptiondiv">
                           <p><%=i.description %></p>
                           <i class="far fa-calendar-alt"></i><spam class="description-spam"><spam id="demo"><%=i.date %></spam>
                       </div>

                       <div class="categorydiv">
                           <p class="cateogiryname <%= i.category %>"> <%=i.category %> </p>
                       </div>
                    
                    </div>
                </li>   
               <%}%>
           </ul>


           <!--form is finished here for the three basics inputs-->
          
       </div>
       <!-- <script src="https://code.jquery.com/jquery-3.4.1.js"></script> -->
       <script
       src="https://code.jquery.com/jquery-3.4.1.min.js"
       integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
       crossorigin="anonymous"></script>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
       <script>
           $("#datepicker").datepicker({ dateFormat:'M-dd-yy' });
       </script>
        <script type="text/javascript" src="../assets/js/home.js"></script>
    </body>
</html>